{% extends 'layout.html' %} {% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容添加</span></li>
</ol>

<h3>内容添加</h3>

<form role="form" method="post">

    <div class="form-group">
        <label for="title">分类：</label>
        <select name="category" id="category" class="form-control">
            {%for category in categories%}
            <option value="{{category.id}}">{{category.name}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题：</label>
        <input type="text" class="form-control" id="title" placeholder="请输入内容标题" name="title">
    </div>

    <div class="form-group">
        <label for="description">简介：</label>
        <textarea name="description" id="description" class="form-control" rows="5" placeholder="请输入内容简介"></textarea>
    </div>

    <div class="form-group">
        <label for="content">内容：</label>
        <button onclick="addContent" style="margin:10px" class="btn btn-sm btn-info">提交</button>
        <textarea id="content" name="content"></textarea>
    </div>

</form>

<!-- ckeditor -->
<script src="/public/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content', {
        language: 'zh-CN', //改成中文版
        height: 550
    });
</script>

<script>
    function addContent() {
        let data = [{
            category: $("#category").find("option:selected").text(),
            title: $("#title").text(),
            description: $("#description").text(),
            content: $("#content").text()
        }]
        $.ajax({
            type: 'POST',
            url: '/admin/content/add',
            data: JSON.stringify(data),
            success: success,
            dataType: dataType
        });
    }
</script>


<!-- editor.md -->
<!-- <link rel="stylesheet" href="/public/editor.md/css/editormd.min.css" />
<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/editor.md/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var testEditor = editormd("content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: '/public/editor.md/lib/',
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/upload",
            saveHTMLToTextarea: true,
            //      上传的后台只需要返回一个 JSON 数据，结构如下：
            //      {
            //         success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
            //         message : "提示的信息，上传成功或上传失败及错误信息等。",
            //         url     : "图片地址"        // 上传成功时才返回
            //      }
            //      */
        });
    });
</script> -->


<!-- ueditor -->
<!-- <script type="text/javascript " charset="utf-8 " src="/public/ueditor/ueditor.config.js "></script>
<script type="text/javascript " charset="utf-8 " src="/public/ueditor/ueditor.all.min.js "></script>
<script type="text/javascript " charset="utf-8 " src="/public/ueditor/lang/zh-cn/zh-cn.js "></script>
<script type="text/javascript ">
    var ue = UE.getEditor('content');
</script> -->

<!-- neditor -->
<!-- <script type="text/javascript " charset="utf-8 " src="/public/neditor/neditor.config.js "></script>
<script type="text/javascript " charset="utf-8 " src="/public/neditor/neditor.all.min.js "></script>
<script type="text/javascript " charset="utf-8 " src="/public/neditor/neditor.service.js "></script>
<script type="text/javascript " charset="utf-8 " src="/public/neditor/i18n/zh-cn/zh-cn.js "></script>
<script type="text/javascript " src="/public/neditor/third-party/browser-md5-file.min.js "></script>
<script type="text/javascript " src="/public/neditor/third-party/jquery-1.10.2.min.js "></script>
<script type="text/javascript ">
    var ue = UE.getEditor('content');
</script> -->


{% endblock %}